
* {
  box-sizing: border-box;
}

body {
  background-color: #faf6f4;
  color: #000000;
  font-family: "argent-pixel-cf", sans-serif;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  text-align: center;
}

a {
  color: #000000;
}

h1 {
  line-height: 1.4;
  font-size: 48px;
}

.btn {
  
  background-color: #000000;
  color: #faf6f4;
  padding: 15px 20px;
  font-family: inherit;
  font-size: 20px;
  cursor: pointer;
}

.btn:hover {
  opacity: 0.7;
}

.btn:focus {
  outline: 0;
}

.screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  transition: margin 0.5s ease-out;
}

.screen.up {
  margin-top: -100vh;
}

.insects-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
  padding: 0;
}

.insects-list li {
  margin: 10px;
}

.choose-insect-btn {
  background-color: transparent;
  border: 4px solid #000000;
  color: #000000;
  cursor: pointer;
  font-family: inherit;
  font-size: 20px;
  font-weight: 600;
  width: 180px;
  height: 180px;
  padding-bottom: 24px;
}

.choose-insect-btn.beetle:hover {
  outline: 4px solid #6a4190;
}

.choose-insect-btn.moth:hover {
  outline: 4px solid #e16890;
}

.choose-insect-btn.spider:hover {
  outline: 4px solid #bf81ab;
}

.choose-insect-btn.ladybug:hover {
  outline: 4px solid #b73737;
}

.choose-insect-btn:hover {
  color: #000000;
  text-decoration: underline;
  text-decoration-thickness: 2px;
}

.choose-insect-btn:active {
  background-color: rgba(255, 255, 255, 0.7);
}

.choose-insect-btn img {
  width: 90px;
  height: 90px;
  object-fit: contain;
}

.time, .score {
  position: absolute;
  top: 20px;
  font-size: 24px;

}

.time {
  left: 20px;
}

.score {
  right: 20px;
}


.message {
  line-height: 1.7;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  padding: 20px;
  z-index: 100;
  text-align: center;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -150%);
  transition: transform 0.4s ease-in;
}

.message.visible {
  transform: translate(-50%, 150%);
  opacity: 1;
}

.insect {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  position: absolute;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 0.3s ease-in-out;
}

.insect img {
  width: 100px;
  height: 100px;
}

.insect.caught {
  transform: translate(-50%, -50%) scale(0);
}

